.eventsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollContainer {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    gap: 15px;
    justify-content: flex-start; /* Aligns to the top */
    width: 100%;
}

.eventsMain h2 {
    color: white;
}

.eventsMain hr {
    margin-bottom: 20px;
    background-color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    .eventsMain {
        max-width: 100%;
        text-align: center;
    }
}
