.container {
    display: flex;
    /* margin: 20px; */
    /* padding: 10px; */
    /* background-color: brown; */
}

.mainContainer {
    padding-left: 8%;
    max-width: 55%;
}

.mainContainer h2 {
    color: white;
}

.mainContainer hr {
    margin-bottom: 20px;
    background-color: white;
}