.eventBoxMain {
    display: flex;
    height: 50%;
    /* background-color: yellowgreen; */
}

.eventDate {
    background-color: aliceblue;
    margin: 3px;
    min-width: 90px;
    max-width: 90px;
    overflow: hidden;
    border-radius: 10px;
    padding: 2px;
    margin-right: 10px;
}

.eventBoxMain h3 {
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.eventBoxMain h2 {
    background-color: rgb(95, 209, 171);
    margin-bottom: 0;
    margin-top: 10px;
}

.eventBoxMain p {
    color: rgb(95, 209, 171);
    margin-top: 2px;
    font-size: small;
    padding-bottom: 5px;
}

.eventBoxMain a {
    font-size: 0.8rem;
    color: cadetblue;
}