.all-list {
    border: 15px solid white;
    background-image: url('./chalkboard.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: scroll;
    color: yellow;
    text-align: left;
    list-style-type: none;
    padding: 3px 30px;
    height: 390px;
    border-radius: 5px;

    /* Remove fixed width and margin-left */
    width: auto;
    margin-left: 0;
    flex-grow: 1; /* Allows it to take more space inside flex container */
}

.all-list h1 {
    color: aliceblue;
    text-align: center;
}

.list-item {
    margin: 10px 0;
}

hr {
    border: none;
    height: 1px;
    background-color: yellow;
    margin: 5px 0;
}

.notice-board-hr {
    background-color: aliceblue;
    width: 20%;
    margin-left: 40%;
    height: 2px;
    margin-top: -10px;
}
