.main-container{
    border: 15px solid white; /* Add a solid white border */
    background-color: white;
    width: 20%;
    border-radius: 10px;
    padding: 3px 30px; 
    height: 290px;
    margin: 1%;
    margin-top: 1.2%;
    /* margin-top: 2.2%; */
    /* margin-left: 10px; */
}

.btn {
    height: 30px;
    width: 35%;
    border-radius: 5px 5px 0 0; /* Top-left and top-right corners have border radius */
    /* Other button styles */
    border: 0;
    margin: 4px;
    padding: 10px;
    margin-top: 10px;
  }
  .btn1{
    background-color: rgb(17, 17, 58);
    color: aliceblue;
  }

  .btn2{
    background-color: rgb(95, 209, 171);
    color: aliceblue;
    width: 25%;
    margin-left: -1px;
  }
  .pswd{
    
    /* display: block; */
    width: 90%;
    height: 25px;
    margin-top: 5px;
  }

  .loginSection{
    display: flex;
  }
  .submitBtn{
    height: 40px;
    width: 30%;
    border-radius: 5px; /* Top-left and top-right corners have border radius */
    /* Other button styles */
    border: 0;
    margin: 4px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(17, 17, 58);
    color: aliceblue;
  }
  .forgotPwd{
    /* background-color: yellowgreen; */
    margin-top: -5px;
    font-size: 0.9rem;
  }
  .parentConsole{
    color: red;
    text-decoration: underline;
    font-size: 0.9rem;
    /* background-color: aqua; */
  }