.backdrop {
    position: fixed;
    /* background: cover; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -2;
    /* Place it behind your content */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Place it behind your content */
    opacity: 0.85;
    /* Adjust the opacity to control the overlay */
}

.backdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire div */
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire div */
}