.imageContainer {
    margin: 15px;
    padding: 10px 15px;
    /* height: 250px; */
    max-width: 200px;
    background-color: aliceblue;
    overflow: hidden;
}

.img {
    height: 55%;
    /* width: auto; */
    /* background-color: violet; */
    margin-top: -10px;
    /* overflow: hidden; */
}

.imageContainer p {
    margin-top: 2px;
    /* background-color: turquoise; */
    margin-bottom: 5px;
    padding-bottom: 0px;
    color: black;
    font-size: small;
}

.imageContainer h3 {
    margin-top: 5px;
    /* background-color: turquoise; */
}

.imageContainer button {
    margin-top: -20px;
    background-color: rgb(30, 30, 79);
    color: aliceblue;
    border-radius: 5%;
}