.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  /* Adjust the padding as needed */

}

.header-left {
  max-width: 300px;
  /* Adjust the image size as needed */
  margin-right: 20px;
  /* Adjust the margin between the image and h2 */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
}

.header-right {
  margin: 0;
  /* Remove default margin */
  max-width: 300px;
  /* Adjust the image size as needed */

}