.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Ensure no white background */
  width: 90%;
}

.header-left, .header-right {
  max-width: 300px; /* Limit image size */
  height: auto;
  object-fit: contain;
  background-color: transparent; /* Ensure transparent background */
}

@media (max-width: 768px) {
  .header-left {
      max-width: 40px; /* Smaller size for mobile */
  }
  .header-right {
      max-width: 150px;
  }
}
